<div class="options">
  <button class="btn btn-sm btn-default" (click)="toggleCalenderFullTime()">
    <span *ngIf="!isCalenderFullTime" class="glyphicon glyphicon-resize-full"></span>
    <span *ngIf="isCalenderFullTime" class="glyphicon glyphicon-resize-small"></span>
  </button>
</div>

<div #tableContainer class="table-container clearfix">
  <div class="table-user-data">
    <table class="table">
      <thead>
      <tr class="main">
        <th colspan="3">
          Dane podstawowe
          <div class="mini-icon pull-right" (click)="toggleMinimizeUserData()">
            <span *ngIf="isMinimizeUserData" class="glyphicon glyphicon-menu-right"></span>
            <span *ngIf="!isMinimizeUserData" class="glyphicon glyphicon-menu-left"></span>
          </div>
        </th>
      </tr>
      <tr class="week-number">
        <th colspan="3">&nbsp;</th>
      </tr>
      <tr class="description">
        <th>Fullname</th>
        <th class="mini-hidden">Skype</th>
        <th class="mini-hidden">Tag</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.name }} {{ student.surname }}</td>
        <td class="mini-hidden">{{ student.skypeId }}</td>
        <td class="mini-hidden">{{ student.tag }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div #tableCalender class="table-calender table-calender--full-time">
    <div>
      <div class="row th month">
        <div class="month--30 month--light">Maj</div>
        <div class="month--30 month--dark">Czerwiec</div>
      </div>
      <div class="row th week-number">
        <div>18</div>
        <div>19</div>
        <div>20</div>
        <div>21</div>
        <div>22</div>
      </div>
      <div class="row th day-number">
        <div>
          <div>01</div>
          <div>02</div>
          <div>03</div>
          <div>04</div>
          <div>05</div>
          <div>06</div>
          <div>07</div>
        </div>
        <div>
          <div>08</div>
          <div>09</div>
          <div>10</div>
          <div>11</div>
          <div class="current-day">12</div>
          <div>13</div>
          <div>14</div>
        </div>
        <div>
          <div>15</div>
          <div>16</div>
          <div>17</div>
          <div>18</div>
          <div>19</div>
          <div>20</div>
          <div>21</div>
        </div>
        <div>
          <div>22</div>
          <div>23</div>
          <div>24</div>
          <div>25</div>
          <div>26</div>
          <div>27</div>
          <div>28</div>
        </div>
        <div>
          <div>29</div>
          <div>30</div>
          <div>01</div>
          <div>02</div>
          <div>03</div>
          <div>04</div>
          <div>05</div>
        </div>
      </div>
      <div class="row data">
        <div>17<sup>15</sup><span class="full-time">- 18 <sup>00</sup></span></div>
        <div></div>
        <div></div>
        <div>16<sup>00</sup><span class="full-time">- 16 <sup>30</sup></span></div>
        <div>20<sup>00</sup><span class="full-time">- 21 <sup>15</sup></span></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="current-day"></div>
      </div>
      <div class="row data">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div>17<sup>15</sup><span class="full-time">- 18 <sup>00</sup></span></div>
        <div></div>
        <div></div>
        <div>16<sup>00</sup><span class="full-time">- 18 <sup>00</sup></span></div>
        <div class="current-day">20<sup>00</sup><span class="full-time">- 21 <sup>00</sup></span></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
