<div class="table-container clearfix mini-user-data" #tableContainer>
  <div class="table-user-data">
    <table class="table table-striped table-hover">
      <thead>
      <tr class="main">
        <th colspan="3">
          Dane podstawowe
          <div class="mini-icon pull-right" (click)="toggleMinimizeUserData()">
            <span *ngIf="isMinimizeUserData" class="glyphicon glyphicon-menu-right"></span>
            <span *ngIf="!isMinimizeUserData" class="glyphicon glyphicon-menu-left"></span>
          </div>
        </th>
      </tr>
      <tr class="week-number">
        <th colspan="3">&nbsp;</th>
      </tr>
      <tr class="description">
        <th>Fullname</th>
        <th class="mini-hidden">Skype</th>
        <th class="mini-hidden">Tag</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.name }} {{ student.surname }}</td>
        <td class="mini-hidden">{{ student.skypeId }}</td>
        <td class="mini-hidden">{{ student.tag }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="table-calender">
    <div>
      <table class="table table-striped table-hover">
        <thead>
          <tr class="main">
            <th colspan="5" class="month month-light">Maj</th>
            <th colspan="5" class="month month-dark">Czerwiec</th>
            <th colspan="6" class="month month-light">Lipiec</th>
            <th colspan="5" class="month month-dark">Sierpień</th>
          </tr>
          <tr class="week-number">
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>

            <th colspan="2">22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th colspan="2">26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>
            <th colspan="2">31</th>
            <th>32</th>
            <th>33</th>
            <th>34</th>
            <th>35</th>
          </tr>
          <tr class="description">
            <th class="date-offset date-offset-light">01 - 07</th>
            <th class="date-offset date-offset-light">08 - 14</th>
            <th class="date-offset date-offset-light">15 - 21</th>
            <th class="date-offset date-offset-light">22 - 28</th>
            <th class="date-offset date-offset-light">29 - 31</th>

            <th class="date-offset date-offset-dark">01 - 04</th>
            <th class="date-offset date-offset-dark">05 - 11</th>
            <th class="date-offset date-offset-dark">12 - 18</th>
            <th class="date-offset date-offset-dark">19 - 26</th>
            <th class="date-offset date-offset-dark">27 - 30</th>

            <th class="date-offset date-offset-light">01 - 02</th>
            <th class="date-offset date-offset-light">03 - 09</th>
            <th class="date-offset date-offset-light">10 - 16</th>
            <th class="date-offset date-offset-light">17 - 23</th>
            <th class="date-offset date-offset-light">24 - 30</th>
            <th class="date-offset date-offset-light">31</th>

            <th class="date-offset date-offset-dark">01 - 06</th>
            <th class="date-offset date-offset-dark">07 - 13</th>
            <th class="date-offset date-offset-dark">14 - 20</th>
            <th class="date-offset date-offset-dark">21 - 27</th>
            <th class="date-offset date-offset-dark">28 - 30</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students">
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td colspan="2">x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td colspan="2">x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td colspan="2">x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
